{% extends "account/different_page.html" %}
{% load static %}
{% block title %}Email sent{% endblock title %}
{% block content %}
<body  class="movingGif">
     
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <center>
                <img src="{% static 'images/logo.png' %}" class="greyBox-logo"/>
                </center>
                </div>
            <div class="col-md-2 col-xl-3 "></div>
            <div class="col-md-8 col-xl-6 greyBox">
            <h3 class="greyBox-heading">Password Link sent!
    </h3>
            <br>
      
        <p class="greyBox-text" style="font-size:18px;">Check your mail and click on the provided link to reset the account</p>
                    <br>
                    <br>
                    <center>
      </center>
            
    </div>
            <div class="col-md-2 col-xl-3 "></div>
    
        </div></div>
     </body>
    
{% endblock content %}