{% extends "account/different_page.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Change Password for your account{% endblock title %}
{% block content %}
<body  class="movingGif">    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <center>
                <img src="assets/images/logo.png" class="greyBox-logo"/>
                </center>
                </div>
            <div class="col-md-2 col-xl-3 "></div>
            <div class="col-md-8 col-xl-6 greyBox">
            <h3 class="greyBox-heading">Way to Healthy mind!
    </h3>
		<br>
  <form action="{% url 'login' %}">
    <p class="greyBox-text" style="font-size:18px;">You can now use your new password to Log
In into your account</p>
				<br>
				<br>
				<center>
    <button type="submit" class="btn btn-primary second-color roundButton greyBox-button" style="font-size: 18px;font-family:poppinsBold;">Login</button>
  </center>
		</form>
</div>
		<div class="col-md-2 col-xl-3 "></div>

	</div></div>
 </body>
		
{% endblock content %}