{% extends "account/different_page.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Change Password for your account{% endblock title %}
{% block content %}
<body class="movingGif">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <center>
                <img src="{% static 'images/logo.png' %}" class="greyBox-logo"/>
                </center>
                </div>
            <div class="col-md-2 col-xl-3 "></div>
            <div class="col-md-8 col-xl-6 greyBox">
            <h3 class="greyBox-heading">Reset Password</h3>
            <br>
      <form method="POST">
          {% csrf_token %}
        <div class="form-group">
                         <label for="passwordNew">New Password</label>
                        {% render_field form.new_password1 class+="form-control greyBox-input" placeholder="New Password" %}
        </div>
                    <div class="form-group">
                            <label for="passwordConfirm">Confirm New Password</label>
                            {% render_field form.new_password2 class+="form-control greyBox-input" placeholder=" re-enter New Password" %}
        </div>
                    <center>
        <input type="submit" class="btn btn-primary second-color roundButton greyBox-button" value="Reset my password"/>
      </center>
            </form>
    </div>
            <div class="col-md-2 col-xl-3 "></div>
    
        </div></div>
     </body>
{% endblock content %}