{% extends "account/different_page.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Reset your password{% endblock title %}
{% block content %}
<body class="movingGif">
 
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <center>
                <img src="{% static '/images/logo.png' %}" class="greyBox-logo"/>
                </center>
                </div>
            <div class="col-md-2 col-xl-3 "></div>
            <div class="col-md-8 col-xl-6 greyBox">
            <h3 class="greyBox-heading">Trouble Logging in?</h3>
            <br>
      <form method="POST">
          {% csrf_token %}
                <p class="greyBox-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
    aliquam, purus sit amet luctus venenatis, lectus magna fringilla
    urna, porttitor rhoncus dolor purus non enim
    </p>
        <div class="form-group">
            {% render_field form.email class+="form-control greyBox-input" placeholder="Enter Your Email" %}
        </div>
                    <center>
        <input type="submit" class="btn btn-primary second-color roundButton greyBox-button" value="Send login link"/>
      </center>
            </form>
    </div>
            <br>
        
        
                <div class="col-md-2 col-xl-3 "></div>
                <div class="col-md-12">	<br><center>			<a href="{% url 'login' %}" class="greyBox-link text-center">Back to login</a>
    </center></div>
        </div></div>
     </body>
{% endblock content %}