{% load static %} 
{% include "temp_dir/header.html" %}
 {% include "temp_dir/navbar-3.html" %}
<style type="text/css">
  .heading1{
    font-size: 48px;
    color: white;
    font-weight: 700;
    margin-left: 5%;


  }

  .heading2{
    font-size: 28px;
    color: white;
    font-weight: 500;
    color: #FFBF00;
    margin-left: 5%;


  }

.heading3{
    font-size: 20px;
    color: white;
    font-weight: 300;
    color: white;



}

.para{
    font-size: 18px;
    color: white;
    margin-left: 5%;

}
.btn{
  background-color: #00A6FB;
  font-size: 16px;
  border: none;
  justify-content: center;
  margin-top: 2%;
  padding: 15px 25px 15px 25px;
  border-radius: 40px 40px 40px 40px;

}

.closeline{
    font-size: 12px;
    color: black;
    text-align: center;
    line-height: 2.0;
    margin-top: 5%;

  
}

  .headingorg{
    font-size: 35px;
    color: white;
    font-weight: 700;
    color: #FFBF00;
    margin-left: 5%;


  }

    .heading2org{
    font-size: 28px;
    color: white;
    font-weight: 500;
    color: #FFBF00;



  }

    .headinggreen{
    font-size: 35px;
    color: white;
    font-weight: 700;
    color: #A4C756;
    margin-left: 5%;


  }

      .heading2green{
    font-size: 28px;
    color: white;
    font-weight: 500;
    color: #A4C756;


  }
  
</style>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<title>About Us</title>

  </head>

  <body style="background:#0e0e0e; overflow-x: hidden;">
<div class="container">
<div class="container-responsive" style="margin-bottom: 2%">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <h2 class="heading2">Mom & Monk</h2>
      <h1 class="heading1">Our Story</h1>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6">
      <h3 class="heading3">Our paths aligned for a greater mission of helping people master their emotions to live happier lives. It started with vision, love then to partnership both in business and life, this is the unique story of a Mom and Monk</h3>
    </div>

  </div>
</div>

<!-----new section--->

<div class="container-responsive" style="margin-top: 2%">
  <div class="row">
       <div class="col-sm-12 col-md-6 col-lg-6"></div>

    <div class="d-flex col-sm-12 col-md-6 col-lg-6">
      <div><img src="{% static 'images/pin.png' %}" alt="location"></div>
      <div>
      <h2 class="headingorg">MONK JOURNEY STARTED IN INDIA</h2>
      <p class="para">Only child of this parents left became a monk at age 13 when he was inspired by a girl his age who was a nun speaking to a large audience on life. He was a monk for 19 years ttravelling all over the world to help with inner wellbeing.</p>
      </div>
    </div>



  </div>
</div>

<!-----new section--->


<div class="container-responsive" style="margin-top: 2%">
  <div class="row">

     <div class="d-flex col-sm-12 col-md-6 col-lg-6">
      <div>
      <h2 class="headinggreen">MONK JOURNEY STARTED IN GUYANA</h2>
      <p class="para">Youngest of 9 children came to the US from Guyana at age 13 finished her education, worked in Corporate America and realized that life was more than 9-5 job. She then embarked on life of inner growth, seeking for answers on the human mind and helping other in her path.</p>
      </div>
      <div><img src="{% static 'images/pin.png' %}" alt="location"></div>
    </div>

      
       <div class="col-sm-12 col-md-6 col-lg-6"></div>

  </div>
</div>

<!-----new section--->


<div class="container-responsive" style="margin-top: 2%">
  <div class="row">
       <div class="col-sm-12 col-md-6 col-lg-6"></div>

    <div class="d-flex col-sm-12 col-md-6 col-lg-6">
      <div><img src="{% static 'images/handshake.png' %}" alt="location"></div>
      <div>
      <h2 class="headingorg">MOM & MONK MET IN THE US</h2>
      <p class="para">Diane and Ashwin;s journey began in NYC when she attended one of his sessions on a platform where she spoke at just a month earlier.</p>
      </div>
    </div>

  </div>
</div>

<!-----new section--->

<div class="container-responsive" style="margin-top: 2%">
  <div class="row">

     <div class="d-flex col-sm-12 col-md-6 col-lg-6" >
      <div>
      <h2 class="headinggreen">INSTANT CONNECTION</h2>
      <p class="para">After the session they got talking and that let into a meeting the next day and the connection was instant.</p>
      </div>
      <div><img src="{% static 'images/connection.png'  %}" alt="location"></div>
    </div>

      
       <div class="col-sm-12 col-md-6 col-lg-6"></div>

  </div>
</div>

<!-----new section--->

<div class="container-responsive" style="margin-top: 2%">
  <div class="row">
       <div class="col-sm-12 col-md-6 col-lg-6"></div>

    <div class="d-flex col-sm-12 col-md-6 col-lg-6">
      <div><img src="{% static 'images/ahhaabulb.png'  %}" alt="location"></div>
      <div>
      <h2 class="headingorg">THE AHHAA MOMENT</h2>
      <p class="para">On a Mega Bus Ride from Washington DC to NY Ashwin shared with Duane about his vision of helping people using technology which neither of us have any background on, but it didn’t stop is. Tech for good, google for mental health let do it, says Diane.</p>
      </div>
    </div>

  </div>
</div>

<!-----new section--->

<div class="container-responsive" style="margin-top: 2%">
  <div class="row">

     <div class="d-flex col-sm-12 col-md-6 col-lg-6" >
      <div>
      <h2 class="headinggreen">THE BIRTH OF AHHAA </h2>
      <p class="para">It was on that day on the bus the idea of Ahhaa was born and Ashwin realised his journey as monk had to be evolved as Ahhaa.</p>
      </div>
      <div><img src="{% static 'images/logobulb.png' %}" alt="location"></div>
    </div>

      
       <div class="col-sm-12 col-md-6 col-lg-6"></div>

  </div>
</div>

<!-----new section--->

<div class="container-responsive" style="margin-top: 2%">
  <div class="row">
       <div class="col-sm-12 col-md-6 col-lg-6"></div>

    <div class="d-flex col-sm-12 col-md-6 col-lg-6">
      <div><img src="{% static 'images/stop.png' %}" alt="location"></div>
      <div>
      <h2 class="headingorg">UNSTOPPABLE</h2>
      <p class="para">Ashwin and Diane spend their days and nights just working on ahhaa with the one mission in mind - Train 1 billion people through ahhaa to master their emotions and live a happy life of inner peace and freedom.</p>
      </div>
    </div>

  </div>
</div>



<!-----new section of about us--->

<div class="container-responsive" style="margin-bottom: 2%; margin-top: 10%;">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <h2 class="heading2">Mom & Monk</h2>
      <h1 class="heading1">AHHAA Story</h1>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6">
      <h3 class="heading3">Our Mission is to help 1 Billion lives master their emotions and live a happy life.</h3>
    </div>

  </div>
</div>


<!----new section----->


<div class="container-responsive" style="margin-top: 2%; margin-left: 5%">
  <div class="row">
       <div class="col-sm-12 col-md-6 col-lg-6"></div>

    <div class="col-sm-12 col-md-6 col-lg-6">
      <div>
      <h2 class="headingorg" style="margin-left: 0;">2012</h2>
      <h2 class="heading2org">MOM & MONK MET IN THE US</h2>
      <div><img class="img-responsive" src="{% static 'images/metinusa.jpg' %}" alt="location"></div>
      </div>
    </div>

  </div>
</div>


<!----new section----->


<div class="container-responsive" style="margin-top: 2%; margin-left: 5%">
  <div class="row">

       <div class="col-sm-12 col-md-6 col-lg-6">
      <div>
      <h2 class="headinggreen" style="margin-left: 0;">2014</h2>
      <h2 class="heading2green">MOM & MONK FOUNDED AHHAA</h2>
      <div><img class="img-responsive" src="{% static 'images/ahhaafound.jpg' %}" alt="location"></div>
      </div>
    </div>

       <div class="col-sm-12 col-md-6 col-lg-6"></div>

  </div>
</div>


<!----new section----->


<div class="container-responsive" style="margin-top: 2%; margin-left: 5%">
  <div class="row">
       <div class="col-sm-12 col-md-6 col-lg-6"></div>

    <div class="col-sm-12 col-md-6 col-lg-6">
      <div>
      <h2 class="headingorg" style="margin-left: 0;">2015</h2>
      <h2 class="heading2org">A.R. REHMAN LAUNCHED FIRST VERSION OF AHHAA</h2>
      <div><img class="img-responsive" src="{% static 'images/ar rehman.jpg' %}" alt="location"></div>
      </div>
    </div>

  </div>
</div>


<!----new section----->


<div class="container-responsive" style="margin-top: 2%; margin-left: 5%">
  <div class="row">

       <div class="col-sm-12 col-md-6 col-lg-6">
      <div>
      <h2 class="headinggreen" style="margin-left: 0;">2015</h2>
      <h2 class="heading2green">PRESIDENT OF GUYANA EXPERIENCED AHHAA</h2>
      <div><img class="img-responsive" src="{% static 'images/President guyana.jpg' %}" alt="location"></div>
      </div>
    </div>

       <div class="col-sm-12 col-md-6 col-lg-6"></div>

  </div>
</div>


<!----new section----->


<div class="container-responsive" style="margin-top: 2%; margin-left: 5%">
  <div class="row">
       <div class="col-sm-12 col-md-6 col-lg-6"></div>

    <div class="col-sm-12 col-md-6 col-lg-6">
      <div>
      <h2 class="headingorg" style="margin-left: 0;">2017</h2>
      <h2 class="heading2org">PRIME MINISTER OF  INDIA EXPERIENCED AHHAA</h2>
      <div><img class="img-responsive" src="{% static 'images/pm modi.jpg' %}" alt="location"></div>
      </div>
    </div>

  </div>
</div>


<!----new section----->


<div class="container-responsive" style="margin-top: 2%; margin-left: 5%">
  <div class="row">

       <div class="col-sm-12 col-md-6 col-lg-6">
      <div>
      <h2 class="headinggreen" style="margin-left: 0;">2018</h2>
      <h2 class="heading2green">SONY LAUNCHES AHHAA DIGITAL CONTENT ON 45+ GLOBAL PLATFORMS</h2>
      <div><img class="img-responsive" src="{% static 'images/sony.jpg' %}" alt="location"></div>
      </div>
    </div>

       <div class="col-sm-12 col-md-6 col-lg-6"></div>

  </div>
</div>

<!----new section----->


<div class="container-responsive" style="margin-top: 2%; margin-left: 5%">
  <div class="row">
       <div class="col-sm-12 col-md-6 col-lg-6"></div>

    <div class="col-sm-12 col-md-6 col-lg-6">
      <div>
      <h2 class="headingorg" style="margin-left: 0;">2020</h2>
      <h2 class="heading2org">UN LETTER OF RECOGNITION</h2>
      <div><img src="{% static 'images/un.jpg' %}" alt="location"></div>
      </div>
    </div>

  </div>
</div>

</div>
{% include 'temp_dir/footer.html' %}
  </body>
  </html>