{% include "temp_dir/header.html" %}
{% include "temp_dir/navbar-3.html" %}
{% include "temp_dir/navbar-myahhaa.html" %}
{% load static %}
    
<div class="container" style="padding-top:100px;color:#fff;">
    <h1 style="font-size:30px;font-family:poppinsBold;">Add Members ({{ max_member }} remaining)</h1>
      <div class="row" style="padding-top:50px;padding-bottom:50px;color:#fff;"> 
<table class="table" style="border:none;">
  <tbody>
    
      <tr style="border-bottom:2px solid lightgray;">
      <td><span style="color:#fff;">{{ request.user.email }}</span></td>
      <td><span style="color:grey;">Owner</span></td>
      <td></td>
  
    </tr>
    {% for elem in email_list %}
      <tr style="border-bottom:2px solid lightgray;">
        <td><span style="color:#fff;">{{ email_list }}</span></td>
      <td><span style="color:grey;">Add-on</span></td>
          <td><a href="#" role="button" style="color:red;text-align:right;width:100%;float: right;">Remove</a> </td>
      </tr>
    {% endfor %}
 
        </tbody>
</table>
 
<center>
    <button class="addmember" style="color:#fff;font-size:20px;font-family:poppinsBold; background-color: black;border-color: transparent;"> + Add Person</button>
    <form method="POST">
      {% csrf_token %}
      <div id="memform">
      </div>
      <input type="submit" class="memsub" value="Add Members" name="sub" style="display: none;"/>
    </form>  
  </center>
    
         </div>
    </div>
     <script>
       var maxmem = "{{ max_member }}";
       var elem = "<div><input type='email' name='memberlist[]'><button id='remove' style='margin-left:200px;color:red;font-size:10px;font-family:poppinsBold; background-color: black;border-color: transparent;'>Remove</button></div>"
       var count = 0;
       $(".addmember").click(function() {
         if(count < maxmem){
          $("#memform").append(elem);
          $(".memsub").css('display','block');
          count++;
        }
          
       });
 
       $("#memform").on('click',"#remove", function() {
         $(this).closest('div').remove();
         count--;
         if(count > 0){
            $(".memsub").css('display','block');
          }else{
            $(".memsub").css('display','none');
          }
       })
     </script>
