{% load static %} 
{% include "temp_dir/header.html" %} 
{% include "temp_dir/navbar-3.html" %}
<body >
   
    <style>
        .feaicon
        {
            font-size:70px;
        }
        .color-purple
        {
background-color: #7E8CE0;
        }
        .color-blue
        {
background-color: #00A6FB;
        }
        .color-pink
        {
background-color: #FFA48E;
        }
        .color-green
        {
background-color: #4ACFAC;
        }
        .color-yellow
        {
background-color: #FFBF00;
        }
    </style>


<div class="col-md-12" style="padding-top:50px;"></div>    
<div class="container">
 <center><h1 style="font-size:40px;color:#fff;">AHHAA ONE GIVES YOU</h1></center>
  
 	<div class="col-md-12" style="padding-top:50px;"></div>
        <div class="row">
		
           
		
            <div class="col counter-style-1  col-sm-12 col-md-4 col-lg-4 wow fadeInLeft" data-wow-duration="0" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeInLeft;padding:10px;color:#fff;">
			 <center>
              <p><i class="fa fa-music feaicon" aria-hidden="true" style="color:#7E8CE0;"></i></p>
              
			   <h5>Get Access to <br>
                unlimted content</h5>
				</center>
            </div>

            <div class="col counter-style-1  col-sm-12 col-md-4 col-lg-4 wow fadeInLeft" data-wow-duration="0" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeInLeft;padding:10px;color:#fff;">
                <center>
                 <p><i class="fa fa-unlock-alt feaicon" aria-hidden="true" style="color:#FFA48E"></i></p>
                 
                  <h5>Unlock exclusive <br>
                    personal insights</h5>
                   </center>
               </div>

               <div class="col counter-style-1  col-sm-12 col-md-4 col-lg-4 wow fadeInLeft" data-wow-duration="0" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeInLeft;padding:10px;color:#fff;">
                <center>
                 <p><i class="fa fa-headphones feaicon" aria-hidden="true" style="color:#FFBF00"></i></p>
                 
                  <h5>Be first to listen to <br>
                    the latest tracks</h5>
                   </center>
               </div>

            <!-- Counter Col End -->

			

        </div>
      </div>


<div class="col-md-12" style="padding-top:50px;"></div>

<div class="container-fluid">
 <center><h1 style="font-size:40px;color:#fff;">SELECT YOUR AHHAA ONE PLAN</h1></center>
  
 	<div class="col-12" style="padding-top:50px;"></div>
        <div class="row">
		
            <div class="col counter-style-1 col1">
			<div style=";border:5px solid #0E0E0E;padding:10px;border-bottom:none;color:#000;font-weight:bold;" class="color-blue">
			 <center>
              <span style="color:#fff;">Starter</span>
			 
			  <h1 style="font-size:50px;font-weight:bold;padding-top:30px;">FREE</h1>
			  <span>WHEN BILLED ANNUALLY</span>
				</center>
				</div>
				<div style="background:#fff;border:5px solid #0E0E0E;padding:10px;border-top:none;color:#000;font-weight:bold;">
				<ul class="sunscriptionplans">
				<li>Lorem ipsum</li>
								</ul>
				  <a class="nav-link btn btn-sm btn-primary menu-text roundButton color-blue" style=" height:40px;" href="" role="button">SUBSCRIBE</a>
				</div>
				
            </div>
         
            <div class="col counter-style-1 col1">
                <div style=";border:5px solid #0E0E0E;padding:10px;border-bottom:none;color:#000;font-weight:bold;"  class="color-purple">
                 <center>
                  <span style="color:#fff;">Individual</span>
                 
                  <h1 style="font-size:50px;font-weight:bold;padding-top:30px;"> ₹ 90<span style="font-size:20px;">/ MO</span></h1>
                  <span>WHEN BILLED ANNUALLY</span>
                    </center>
                    </div>
                    <div style="background:#fff;border:5px solid #0E0E0E;padding:10px;border-top:none;color:#000;font-weight:bold;">
                    <ul class="sunscriptionplans">
                    <li>Lorem ipsum</li>
                                    </ul>
                      <a class="nav-link btn btn-sm btn-primary menu-text roundButton color-purple" style=" height:40px;" href="" role="button">SUBSCRIBE</a>
                    </div>
                    
                </div>
             

                <div class="col counter-style-1 col1">
                    <div style=";border:5px solid #0E0E0E;padding:10px;border-bottom:none;color:#000;font-weight:bold;"  class="color-pink">
                     <center>
                      <span style="color:#fff;">Couple</span>
                     
                      <h1 style="font-size:50px;font-weight:bold;padding-top:30px;"> ₹ 125<span style="font-size:20px;">/ MO</span></h1>
                      <span>WHEN BILLED ANNUALLY</span>
                        </center>
                        </div>
                        <div style="background:#fff;border:5px solid #0E0E0E;padding:10px;border-top:none;color:#000;font-weight:bold;">
                        <ul class="sunscriptionplans">
                        <li>Lorem ipsum</li>
                                        </ul>
                          <a class="nav-link btn btn-sm btn-primary menu-text roundButton color-pink" style=" height:40px;" href="" role="button">SUBSCRIBE</a>
                        </div>
                        
                    </div>
                 

                    <div class="col counter-style-1 col1">
                        <div style=";border:5px solid #0E0E0E;padding:10px;border-bottom:none;color:#000;font-weight:bold;"  class="color-green">
                         <center>
                          <span style="color:#fff;">Family</span>
                         
                          <h1 style="font-size:50px;font-weight:bold;padding-top:30px;"> ₹ 142<span style="font-size:20px;">/ MO</span></h1>
                          <span>WHEN BILLED ANNUALLY</span>
                            </center>
                            </div>
                            <div style="background:#fff;border:5px solid #0E0E0E;padding:10px;border-top:none;color:#000;font-weight:bold;">
                            <ul class="sunscriptionplans">
                            <li>Lorem ipsum</li>
                                            </ul>
                              <a class="nav-link btn btn-sm btn-primary menu-text roundButton color-green" style=" height:40px;" href="" role="button">SUBSCRIBE</a>
                            </div>
                            
                        </div>
                     

                        <div class="col counter-style-1 col1">
                            <div style=";border:5px solid #0E0E0E;padding:10px;border-bottom:none;color:#000;font-weight:bold;"  class="color-yellow">
                             <center>
                              <span style="color:#fff;">Student</span>
                             
                              <h1 style="font-size:50px;font-weight:bold;padding-top:30px;"> ₹ 32<span style="font-size:20px;">/ MO</span></h1>
                              <span>WHEN BILLED ANNUALLY</span>
                                </center>
                                </div>
                                <div style="background:#fff;border:5px solid #0E0E0E;padding:10px;border-top:none;color:#000;font-weight:bold;">
                                <ul class="sunscriptionplans">
                                <li>Lorem ipsum</li>
                                                </ul>
                                  <a class="nav-link btn btn-sm btn-primary menu-text roundButton color-yellow" style=" height:40px;" href=""  id = "rzp-button1"  role="button">SUBSCRIBE</a>
                                </div>
                                
                            </div>
                         
                
        </div>
      </div>
      <div id="sid" style="display: none;">{{ response.id}}</div>
      <div id="kid" style="display: none;">rzp_test_BMqtVd3FmJcKL8</div>

<script src = "https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
  "key": document.getElementById("kid").innerHTML,
  "subscription_id": document.getElementById("sid").innerHTML,
  "name": "Ahhaa",
  "description": "Monthly Test Plan",
  "image": "{% static 'images/logo.png' %}",
  "handler": function(response) {
    //   alert(response),
    // alert(response.razorpay_payment_id),
    // alert(response.razorpay_subscription_id),
    // alert(response.razorpay_signature);
    location.href="../success";
  },
  "prefill": {
    "name": "RC",
    "email": "xyz@gmail.com",
    "contact": "+91000000000"
  },
  "notes": {
    "note_key_1": "Tea. Earl Grey. Hot",
    "note_key_2": "Make it so."
  },
  "theme": {
    "color": "#0a0a0a"
  }
};
var rzp1 = new Razorpay(options);
document.getElementById('rzp-button1').onclick = function(e) {
rzp1.open();
e.preventDefault();
}
</script>


 {% include 'temp_dir/footer.html' %}