{% load static %} 
{% load widget_tweaks %}
{% include "temp_dir/header.html" %} 
{% include "temp_dir/navbar-3.html" %}
<body class="invert-background">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="">Careers</a></li>
      <li class="breadcrumb-item active" aria-current="page">Apply</li>
    </ol>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-12 mt-4">
        <h3 style="font-family: poppinsBold">Apply</h3>
        <p>Description</p>
        <br />
        {% if messages %}
        <div style="padding: 10px; border-color: darkorange; border-radius: 5px; border-style: double;">
            <p><b>
                    {% for message in messages %}
                    {% if message.tags %} {{ message }} {% endif %}
                    {% endfor %}
            </b></p>
        </div>
        {% endif %}
        
        <br/>
        <form
          id=""
          action="{% url 'apply-form' %}"
          method="POST"
          class="was-validated"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="form-group">
            <label for="username">Your Full Name*</label>
            <input
              type="text"
              class="form-control"
              id="username"
              placeholder="Your Full Name"
              name="applicantName"
              required
            />
          </div>
 
          <div class="form-group">
            <label for="email">Email*</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Enter Email"
              name="applicantEmail"
              required
            />
          </div>
          <div class="form-group">
            <label for="contactnumber">Contact Number*</label>
            <input
              type="number"
              class="form-control"
              id="contactnumber"
              placeholder="Enter Contact Number"
              name="applicantContact"
              required
            />
          </div>
          <div class="form-group">
            <label for="subject">Role*</label>
            <select
              class="form-control"
              id="role"
              name="applicantRole"
              required
            >
              <option></option>
              <option>Designer</option>
              <option>Developer</option>
            </select>
          </div>
         
          <div class="form-group">
                <label for="cv">CV*</label>
                <input type="file"
                style="width:100%"
                class="form-control"
                id="cv"
                name="applicantCV"
                required
                >
              </div>
            <div class="form-group">

            <label for="profilelink">LinkedIn Profile Link*</label>
            <input
              type="text"
              class="form-control"
              id="profilelink"
              placeholder="Enter LinkedIn Profile Link"
              name="applicantLIn"
              required
            />
          </div>
 
          <div class="form-group">
            <label for="portfolio">Portfolio Link (if any)</label>
            <input
              type="text"
              class="form-control"
              id="portfolio"
              placeholder="Enter Portfolio Link"
              name="applicantPortfolio"
            />
          </div>
          <div class="form-group">
            <label for="why">How do you see this role impacting our company vision of improving the
                health & happiness of the world?*</label>
            <textarea
              type="text"
              class="form-control"
              id="why"
              placeholder=""
              name="applicantVision"
              required
            ></textarea>
 
                <br/>
 
            <div class="input-group mb-3">
                <div
                  id="g-recaptcha"
                  name="g-recaptcha"
                  class="g-recaptcha"
                  data-sitekey="6LeLHmQaAAAAAKdU_gBk9IX09iA50GCghdG0OZB6"
                ></div>
              </div>
 
              <br/>
 
          </div>
          <center>
            <button type="submit" class="btn btn-primary nav-link menu-text roundButton blackText">&nbsp;&nbsp;Submit&nbsp;&nbsp;</button>
            </center>
 
          
        </form>
      </div>
    </div>
  </div>
  
  <script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key"></script>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
 
 
</body>
{% include 'temp_dir/footer.html' %}
