{% include "temp_dir/header.html" %}
{% include "temp_dir/navbar-3.html" %}
{% load static %}
 
  
 <div class="container" style='margin:0;max-width:100%;padding:0;padding-top:50px;	'>
 <div class="row">
 <div class="page-header text-center">
    <h1 style="font-size:40px;">WORK WITH US</h1>
	<br/>
	   <p style="width:60%;font-size:18px;font-weight:normal;margin:auto;" class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing gravida tristique
aliquam dignissim venenatis in habitasse blandit vel</p>
<br/>
	   <center>
	   <a class="nav-link btn btn-sm btn-primary menu-text third-color roundButton" href="#blogread" style="width:300px;background:#99CA3C;" role="button">Read More</a>
	   </center>
  </div>
    
 </div>
 </div>
 
 <div class="container marketing" style="padding-top:100px;padding-bottm:100px;">
    <center>
    <div class="row featurette">
        
        <div class="col-md-12">
        <iframe style="width:100%;min-height:300px;" src="https://www.youtube.com/embed/w_rhLbCBtVY">
</iframe>
    
       </div>
      
    </div>
        </center>
    </div>
	
	
<div class="container" style="padding-top:100px;color:#fff;">
         <center> <h2>OPEN POSITIONS</h2>
             </center>

      <div class="row" style="padding-top:100px;padding-bottom:100px;color:#fff;"> 
<table class="table"style="border:none;">
  <tbody>
  
           <tr style="border-bottom:2px solid lightgray;">
      <td><h3 style="color:#fff;">Developer</h3>
        <td><h4  style="text-align:right;"><a href="{% url 'apply-form' %}" role="button" style="color:#99CA3C;text-align:right;">Apply Now</a></h4>
     </td>

    </tr>
        </tbody>
</table>
    
         </div>
    </div>
 

 
      {% include 'temp_dir/footer.html' %} 