{% include "temp_dir/header.html" %}
{% include "temp_dir/navbar-3.html" %}
{% load static %}
<body>
  {% include "temp_dir/navbar-myahhaa.html" %}
  <br><br><br>
  <div class="container-fluid" style="width: 80%; margin: auto">
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row insightsBox">
      <div class="col-sm-12">
        <span class="placeholder"
          ><i class="fa fa-pencil" aria-hidden="true"></i> New Post</span
        ><input type="text" id="greenTextBox" />
      </div>
    </div>
    <br />
  </div>

  <div
    class="container-fluid"
    id="insightsContainer"
    style="width: 80%; margin: auto"
  ></div>
  <script>

    activeMobileTab(1);
    $("#greenTextBox")
      .focus(function () {
        $(".placeholder").css("display", "none");
      })
      .blur(function () {
        if ($("#greenTextBox").val() == "") {
          $(".placeholder").css("display", "inline");
        }
      })
      .keypress(function (e) {
        if (e.keyCode == 13) {
            var t =
                '<div class="row insightsBox"><div class="col-sm-12">\
                <span class="timestampInsights">4 hrs ago</span></div>\
                <div class="insightsPost">' +
                document.getElementById("greenTextBox").value +
                "</div></div></div><br>";
            document.getElementById("insightsContainer").innerHTML = t + document.getElementById("insightsContainer").innerHTML;
            var insight = $("#greenTextBox").val();
            postInsight(insight);
        }
      });
    function random_bg_color(){
      var x = Math.floor(Math.random() * 256);
      var y = Math.floor(Math.random() * 256);
      var z = Math.floor(Math.random() * 256);
      var bgColor = "rgb(" + x + "," + y + "," + z + ")";
      return bgColor;
    }
    
    function postInsight(insight){
        userId = $.cookie("uid");
        insight = insight;
        urls = "{% url 'insight-create' %}";
        $.ajax({
            type: "POST",
            url: urls,
            data: {
                // 'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
                csrfmiddlewaretoken:"{{ csrf_token }}",
                "userID" : userId,
                "userInsight" : insight,
            },
            success: function(data){
                // console.log('insight saved');
                $("#greenTextBox").val('');
            },
            error: function(xhr){
                console.log('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);  
            }
        });
    }

    $(document).ready(function(){
        userid = $.cookie("uid");
        urls = "{% url 'user-insight' 0 %}".replace('0', userid);
        $.ajax({
            type: "GET",
            url: urls,
            success: function(data){
              console.log(data[0]['userInsight']);
              var s='';
				for(var i=0;i<data.length;i++)
				{
				s+='<div class="row insightsBox"><div class="col-sm-12"><span class="timestampInsights">4 hrs ago</span></div><div class="insightsPost">'+data[i]['userInsight']+ "</div></div></div><br>";
				}
				
                document.getElementById("insightsContainer").innerHTML=s;
            },
            error: function(xhr){
                console.log('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);  
            }
        });
    });

  </script>
</body>