

{% load static %} 
{% include "temp_dir/header.html" %}
 {% include "temp_dir/navbar-3.html" %}
<br><br><br><br><br><br><br>

<div class="container" style="color:#fff;">
    <center>
    <h3 style="font-family: poppinsBold;font-size:48px;text-align: center;">Mom and Monk</h3>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing eli</p>
</center>
    <br>
    <br>
   
    <div class="row">
      <div class="col-sm-12 col-md-6 col-sm-push-12">
        <img src="https://via.placeholder.com/400">
      </div>
      <div class="col-sm-12 col-md-6">
        <h3 style="font-family: poppinsBold;font-size:48px;">Diane<br>Bacchus</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
            industry. Lorem Ipsum has been the industry's standard dummy text 
            ever since the 1500s, when an unknown printer took a galley of type 
            and scrambled it to make a type specimen book. It has survived not 
            only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. It was popularised in the 1960s with 
            the release of Letraset sheets containing Lorem Ipsum passages, and 
            more recently with desktop publishing software like Aldus PageMaker 
            including versions of Lorem Ipsum.</p>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h3 style="font-family: poppinsBold;;font-size:48px;"">Ashwin<br>Srisailam</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
            industry. Lorem Ipsum has been the industry's standard dummy text 
            ever since the 1500s, when an unknown printer took a galley of type 
            and scrambled it to make a type specimen book. It has survived not 
            only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. It was popularised in the 1960s with 
            the release of Letraset sheets containing Lorem Ipsum passages, and 
            more recently with desktop publishing software like Aldus PageMaker 
            including versions of Lorem Ipsum.</p>
      </div>
      <div class="col-sm-12 col-md-6 col-sm-push-8">
        <img src="https://via.placeholder.com/400" style="float: right;">
      </div>
    </div>
  </div>
  {% include 'temp_dir/footer.html' %}
