{% include "temp_dir/header.html" %} 
{% include "temp_dir/navbar-3.html" %} 
{%load static %}

<div class="container" style="padding-top: 50px; color: #fff">
  <br /><br /><br /><br />
  <div class="row">
    <div class="page-header text-center">
      <h1 style="font-size: 40px">Our Team</h1>
      <br />
      <p
        style="width: 60%; font-size: 18px; font-weight: normal; margin: auto"
        class="text-center"
      >
        description
      </p>
      <br />
    </div>
    {% for data in team %}
    <div class="col-md-12" style="padding-bottom: 100px">
      <div class="image-wrapper float-left m-10 pr-10">
        <img
          src="https://placeimg.com/150/150/animals"
          alt=""
          style="
            width: 200px;
            height: 200px;
            border-radius: 100px;
            margin-right: 50px;
          "
        />
      </div>
      <div class="single-post-content-wrapper p-3" style="padding-top: 20px">
        <h3>{{ data.empName }}</h3>
        <h5 style="color: #ffbf00">{{ data.empDesignation }}</h5>
        <p>
          {{ data.empDescrition }}
        </p>
        <a href="{{ data.empLinkedln }}"><i class="fa fa-linkedin"></i></a> 
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% include 'temp_dir/footer.html' %}
