{% load static %}
{% include "temp_dir/header.html" %}
<script>
    function convert2ms(m)
  {
    m=parseInt(m);
    var minutes = Math.floor(m / 60000);
    var seconds = ((m % 60000) / 1000).toFixed(0);
    return `${minutes}:${(seconds < 10 ? "0" : "")}${seconds}`;
}

</script>
<style>
  .modal-content
  {
    box-shadow: -7px -29px 189px 47px rgba(0,0,0,1);
-webkit-box-shadow: -7px -29px 189px 47px rgba(0,0,0,1);
-moz-box-shadow: -7px -29px 189px 47px rgba(0,0,0,1);
  }
      .heading1{
      font-size: 40px;
      font-weight: 700;
      text-align: center;
      padding-top: 20%;
  
    }
  .heading3{
      font-size: 18px;
      text-align: center;
      line-height: 2.0;
  
  
  }
  .btn{
    background-color: #00A6FB;
    font-size: 16px;
    border: none;
    justify-content: center;
    margin-top: 2%;
    padding: 15px 25px 15px 25px;
    border-radius: 40px 40px 40px 40px;
  
  }
  
  .closeline{
      font-size: 12px;
      text-align: center;
      line-height: 2.0;
      margin-top: 5%;
  cursor: pointer;
    
  }

 .playlistItemCover
     {
         max-width: 70px;
         float: left;
     }
.playlistItemDetails
     {
         float: left;
         margin:15px;
         width: calc (70% - 100px);
     }
     .playlistItemDetailsCarousel
     {
      width:100%;
      font-size:20px;
      margin:0;
      color:#000;
     }
     .playlistItemControls
     {
         float: right;
         width:30%;
     }
     .playlistItemControls p,.playlistItemControls i
     {
         float: right;
         font-size:20px;
         margin:10px;
     }
     .playlist,.list-group,.list-group-item
     {
      background: transparent;
         cursor: pointer;
         color:#fff;
         border-radius:0;
         margin:10px;
          
     }
     
     .playlist li
     {
         margin: 0 20px 5px 20px;
         border:none;
         border-bottom:1px solid #fff;
     }
     
     .movingRowGif
 {
   /* background:url("{% static 'images/' %}clouds.gif") repeat; */
   webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size:cover;
 }
 .audioPlayerPreview
 {
  background:#262626;
 }
 .audioPlayerPreview img
 {
  margin:10px;
 }
 .previewFooter
 {
  position: fixed;bottom:0;width:100%;background:#262626;
  z-index: 100;
 }
 .wrapper {
   position: relative;
   margin: 20px;
 }
 
 .arc {
   position: absolute;
   top: 0;
   left: 0;
   width: 50px;
   height: 50px;
   border-radius: 100%;
   border: 1px solid;
 }
 .previewControls
 {
  color:#fff;
  background:#99CA3C;
  height:60px;
  width:60px;
  border-radius:100%;
  font-size:20px;
  margin:20px;
  margin-left: -50px;
  cursor: pointer;
 }
 .previewControls i
 {
  position:absolute;
  margin-top:18px;
  margin-left:23px;
 font-size:22px;
 /*display: none;*/
 }
 #previewToggleView
 {
 position: absolute;
     margin-top: -89px;
     font-size: 20px;
     right: 100px;
     color:#fff;
     cursor: pointer;
 }
 #previewPause
 {
  font-size:20px;
   margin-top:20px;
  margin-left:21px;
 display: none;
 }
 #previewBackward
 {
   margin-top:20px;
  margin-left:-50px;
 }
 #previewForward
 {
   margin-top:20px;
  margin-left:101px;
 }
 
 #currentTrackName
 {
  font-size:14px;
  font-family:poppinsBold;
  color:#fff;
 }
 .previewProgressContainer,.progressBar
 {
  background: grey;
  width:100%;
  margin-bottom:25px;
  height:4px;
  border-radius:2px;
  margin-left:-50%;
  padding: 0;
 }
 #remainingTime,#totalTime
 {
  float:left;
  font-size:10px;
  color:#fff;
  width:50px;
  margin-left: -17%;
  margin-top: -5px;
  margin-right: auto;  text-align: left;
 
 }
 #totalTime
 {
  margin-right: -17%;
  margin-top: -10px;
  margin-left: auto;
   float:right;
   text-align: right;
 }
 .progressBar
 {
  margin:0;
  padding: 0;
  background: #99CA3C;
 }
 #playlistbg
 {
  background:#262626;
  /* opacity: 0.7; */
  border-radius:15px;
 }
 .expandTrackCover
 {
     position: absolute;
     top: 63px;
     color: red;
     right: 65px;
     font-size:30px;
     display: none;
 }
</style>

 <body class="movingRowGif">
   <div class="overlayScreen" onclick="off()">
    <br>
    <br>
    <br>
 <div class="container">
     <div class="row" id="playlistbg">
         <div class="col-12">
   
   <h2 style="font-family:poppinsBold;color:#fff;margin:50px;">results for <script>localStorage.getItem('query')</script></h2>
   <div class="list-group playlist" id="playlistdiv">
  <script>var totalTracks=0;</script>
    {% for arr in tracks %}
     <script>totalTracks++;</script>
    <div class="list-group-item playlistitemli">
      <div class="playlistItem"  onclick="settime('{{forloop.counter}}')" >
          <img src='{% static "images/" %}{{ arr.trackCoverArt}}' class="playlistItemCover" id="trackCover{{forloop.counter}}"/>
          <i class="fa fa-expand expandTrackCover" aria-hidden="true"></i>
          
          <div class="playlistItemDetails">
            <label  class="playlistItemName text-center" id='trackName{{forloop.counter}}'>{{ arr.trackName}}</label>
            <label id="ta{{forloop.counter}}" style="display:none;">{% static '' %}{{ arr.trackAudio}}</label>
        <br>
          <span  class="playlistItemCollection"></span>

          </div>
         

          {% if userStatus is 0 %}
          <script>var timeLimit={{ arr.trackAudioLength }}/1000;   </script>
               <div class="playlistItemControls">
                  <i class="fa fa-share-alt" aria-hidden="true"></i>
                  <i class="fa fa-heart-o" aria-hidden="true"></i> 
                  <p  class="playlistItemDuration"  id="trackDuration{{forloop.counter}}" style="width:50px;font-size: 16px;">
                   {{ arr.trackAudioLength }}
                   </p>
                </div>
                {% endif %}
              {% if userStatus is 1 %}
                <script>var timeLimit=30; </script>
                <div class="playlistItemControls">
                  <i class="fa fa-share-alt" aria-hidden="true"></i>
                  <i class="fa fa-heart-o" aria-hidden="true"></i> 
                  <p  class="playlistItemDuration"  id="trackDuration{{forloop.counter}}" style="width:50px;font-size: 16px;">
                    {{ arr.trackAudioLength }}
                    </p>
                </div>
              {% endif %}
          {% if userStatus is 2 %}
              <h1></h1>
              <script>var timeLimit=0;</script>
          {% endif %}
<script>sessionStorage.setItem('ui_s','{{userStatus}}'); </script>



      </div>
  </div>
  {% endfor %}
     </div>
   </div>
   
   </div>
     </div>
 </div>
 <br><br><br><br><br>
 <footer class="footer previewFooter">
       <div class="container-fluid  audioPlayerPreview">
        <div class="row">
         <div class="col-6">
         <img src="" class="playlistItemCover" id="currentTrackCover"/>
         <br>
                              <h5 class="playlistItemName" id="currentTrackName"></h5>
                                 
 
         </div>
         <div class="col-6">
          
                    <audio id="playtrack" class="playlistItemTrack" autoplay="true" >
                        <source src="" type="audio/mpeg">
   Your browser does not support the audio element.
 </audio>
  
      
 <div class="previewControls">
  <i class="fa fa-step-backward" aria-hidden="true" id="previewBackward"></i>
  <i class="fa fa-play" id="previewPlay" aria-hidden="true"></i>
  <i class="fa fa-pause" id="previewPause" aria-hidden="true"></i>
  <i class="fa fa-step-forward" aria-hidden="true" id="previewForward"></i>
 </div>
 <div class="previewProgressContainer col-md-12">
   <span id="remainingTime"><script>convert2ms(0);</script></span><div id="previewProgress" class="progressBar" style="width:0%;"></div><span id="totalTime"><script>convert2ms(0);</script></span>
 </div>
 <i class="fa fa-th-large" id="previewToggleView" onclick="changeme();"></i>
                            </div> 
       </div>
       </div>
     </footer>
 
    </div>
    <div class="modal" id="myModal">
   <div class="modal-dialog">
     <div class="modal-content" style=" background-image: url({% static 'images/popup-1.jpg'%});color:#fff;background-repeat: no-repeat;">
      <div>
  
  
        <h1 class="heading1">Join Ahhaa One Today</h1>
    
        <h3 class="heading3">Get Access To Unlimited Tracks & Series<br>Store Your Insights<br>Track Your Ahhaa Journey</h3>
    
        <div class="col-12-md text-center">
        <a href="{% url 'ahhaa-one' %}"><button type="button" class="btn btn-primary">Start your free 7 day trial</button></a>
          </div>
    
        <h5 class="closeline"  data-dismiss="modal">Maybe Later</h5>
    
    
        </div>

     </div>
   </div>
 </div>
 <button type="button" class="btn btn-primary" id="popup" data-toggle="modal" data-target="#myModal" style="display:none;">
   Open modal
 </button>


 <script>
   
   setAudioDuration();
   
var current=1;
var audio= document.getElementById('playtrack');
$("#previewPause").click(function(){
audio.pause();
$("#previewPause").css("display","none");
$("#previewPlay").css("display","block");
});

$("#previewPlay").click(function(){  
settime(current);
});
function setCookie(cname, cvalue, exdays) {
  var d = new Date();
  d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
  var expires = "expires="+d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}


function settime(i){
  setSessionPop();
  timeLimit=0;
  // change to server side code 9 march
if(sessionStorage.getItem("ui_s")=="1")
{
  timeLimit=30;
}
if(sessionStorage.getItem("ui_s")=="0")
{
  timeLimit=hms2mili($("#trackDuration"+i).text());
}

if(i>totalTracks)
{
i=1;
}
if(i<1)
{
i=totalTracks;
}

current=i;
$("#previewPause").css("display","block");
$("#previewPlay").css("display","none");
$("#playtrack").attr("src",$("#ta"+i).text());
$("#currentTrackCover").attr("src",$("#trackCover"+i).attr("src"));

$("#currentTrackName").text($("#trackName"+i).text());

audio.currentTime=0;
audio.play();
moveProgressBar(audio.currentTime);
$("#remainingTime").text(convert2ms(audio.currentTime*1000));
$("#totalTime").text(convert2ms(timeLimit*1000));
var preview=setInterval(function(){
moveProgressBar(audio.currentTime);
    if(audio.currentTime>timeLimit){
        audio.currentTime=0;
           audio.pause();
        clearInterval(preview);
        settime(++current);
       
            }
        },10);

    }
    // callSubscriptionPopup()
function callSubscriptionPopup()
{
     $("#popup").trigger("click");
     on();
}
function moveProgressBar(t)
{
  var elem = document.getElementById("previewProgress");  
  width=Math.round(t*100/timeLimit);
  elem.style.width = width + '%';
   $("#remainingTime").text(convert2ms(t*1000));
}
$("#previewForward").click(function(){
    loadNextTrack();
    //  playlistowl.trigger('next.owl.carousel');
   
    });
   
    $("#previewBackward").click(function(){
    loadPrevTrack();
    // playlistowl.trigger('prev.owl.carousel');
    });
   
   function loadNextTrack()
   {
    settime(++current);
   }
   function loadPrevTrack()
   {
     settime(--current); 
   }

  function setSessionPop()
  {
   if(!sessionStorage.getItem('aor_pop'))
   {
    sessionStorage.setItem('aor_pop',0);
   }
   else
   {
    var c=sessionStorage.getItem('aor_pop');
    c++;
    sessionStorage.setItem('aor_pop',c);
   }
   if(sessionStorage.getItem('aor_pop')==3 || sessionStorage.getItem("ui_s")=='2')
   {
     current=1;
     callSubscriptionPopup();
     exit;
   }
  }


   
   var i=0;
   var playlistowl;
     function changeme()
     {
       if(i==0)
       {
         $("#playlistdiv").addClass("owl-carousel").removeClass("list-group");
         $("#playlistdiv .playlistitemli").addClass("item").removeClass("list-group-item");
         i=1;
          playlistowl=$(".owl-carousel");
          playlistowl.owlCarousel({
                loop: true,
                   center: true,
                   margin: 0,
                   autoplay: false,
                   dots:false,
                   responsive: {
                     0: {
                       items: 1
                    
                     },
                     768: {
                       items: 3
                     },
                     1170: {
                       items: 3
                     }
                   },
                onChanged: playSlide,
   });
               $("#playlistbg").css({"background":"transparent","opacity":"1"});
               $(".playlistItemControls").css("display","none");
                     $(".playlistItemDetails").addClass("playlistItemDetailsCarousel");
               $("#previewToggleView").removeClass("fa-th-large").addClass("fa-list");
   
    //$(".owl-carousel .center img").css({"border":"10px solid red"});
       }
       else
       {
                    $("#playlistbg").css({"background":"#262626","opacity":"0.7"});
        playlistowl.owlCarousel('destroy');
          $("#playlistdiv").removeClass("owl-carousel").addClass("list-group");
         $("#playlistdiv .playlistitemli").removeClass("item").addClass("list-group-item");
                     $(".playlistItemControls").css("display","block");
                     $(".playlistItemDetails").removeClass("playlistItemDetailsCarousel");
               $("#previewToggleView").addClass("fa-th-large").removeClass("fa-list");
   
         i=0;
       }
     }
    
   
   function playSlide(event)
   {
     var slides = event.relatedTarget;
     currentTrack=slides.relative(slides.current());
     settime(currentTrack);
   }
 
  function setAudioDuration()
  {
    for(var i=1; i<=totalTracks;i++)
    {
      $("#trackDuration"+i).text(convert2ms($("#trackDuration"+i).text()));
    }
  }
  function hms2mili(t)
  {
  
var a = t.split(':');
return (+a[0]) * 60 + (+a[1]); 

  }
  function getCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i <ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}
function on() {
  // $(".overlayScreen").css("color","black");
}

function off() {
  // $(".overlayScreen").css("color","red");
}
</script>