{% include "temp_dir/header.html" %}
{% include "temp_dir/navbar-3.html" %}
{% load static %}
<style>
 
    .seperatorClass
    {
        height:70px;
    }
.profile-back{
  height: 225px;
  background-image: url('https://picsum.photos/1200');
  background-size: 100% 100%;
  background-size: cover;
  background-position: center;
}
.profile-back img{
  height: 120px;
  width: 120px;
  margin-top: 165px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.user-detail{
  padding-top: 65px; 
}
.whiteText
{
    color:#fff;
}
.whiteText input, .whiteText select
{
    background:#0A0A0A;
    color:#fff;
}
.settingLabel,.settingIcon i
{
    font-size:28px;
}
.settingIcon i
{
    float:right;
}
</style>
<body class="whiteText">
  {% include "temp_dir/navbar-myahhaa.html" %}
  <br><br><br>
 
  <div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-12 profile-main mt-4">
            <div class="row">
                <div class="col-md-12 col-12 user-detail-main mb-3 pb-2">
                    <div class="row">
                        <div class="col-md-12 col-12 profile-back">
                            <img src="https://picsum.photos/200" class="rounded-circle border">
                        </div>
                    </div>
                  
                </div>
                
            </div>
            
            
 
        </div>
    </div>
</div>
<br><br>
<div class="container">
<div class="row">
  <div class="col-md-8 offset-md-2 col-12 mt-4">
 
    <div class="col-6 pull-left"> <label class="control-label settingLabel">Daily Motivation</label></div>
    <div class="col-6 pull-right settingIcon"> <i class="fa fa-toggle-off" aria-hidden="true" id="motiv" onclick="updateSetting(this);"></i> </div>
    <div class="seperatorClass"></div>
 
 
    <div class="col-6 pull-left"> <label class="control-label settingLabel">Weekly Status Report</label></div>
    <div class="col-6 pull-right settingIcon"> <i class="fa fa-toggle-on" aria-hidden="true" id="rprt" onclick="updateSetting(this);"></i> </div>
    <div class="seperatorClass"></div>
 
 
    <div class="col-6 pull-left"> <label class="control-label settingLabel">User Tracking</label></div>
    <div class="col-6 pull-right settingIcon"> <i class="fa fa-toggle-on" aria-hidden="true" id="trck" onclick="updateSetting(this);"></i> </div>
    <div class="seperatorClass"></div>
 
</div>
    </div>
      </div>
  </div>
 
  <div class="seperatorClass"></div>
  <div class="seperatorClass"></div>
  <div class="seperatorClass"></div>
 
  <script>
    userid = $.cookie("uid");
    glb_data = null
    console.log(userid)
    var set_url = "{% url 'user-reminder' 0 %}".replace('0', userid);
    $.ajax({
        type:'GET',
        url: set_url,
        success: function(data){
            glb_data = data;
            console.log(data);
            setClass(data[0].dailyMotivation, "#motiv");
            setClass(data[0].newCollectionArrival, "#rprt");
            setClass(data[0].userInActivity, "#trck");
        },
        error: function(xhr){
            console.log('ERROR OCCURED');
        }
 
    });
 
    function setClass(boolVal, controlID) {
        if(boolVal){
            $(controlID).addClass("fa-toggle-on");
            $(controlID).removeClass("fa-toggle-off");
        }else{
            $(controlID).addClass("fa-toggle-off");
            $(controlID).removeClass("fa-toggle-on");   
        }
    }
 
    function updateSetting(obj) {
        var set_id = "#0".replace('0', $(obj).attr("id"));
        
        update_obj = {
            csrfmiddlewaretoken:"{{ csrf_token }}"
        }
        
        let refer_id = Object.assign({},glb_data[0])
        delete refer_id[getRespectiveKey(set_id)];
        delete refer_id["id"];
        
        if(glb_data[0][getRespectiveKey(set_id)]){
            refer_id[getRespectiveKey(set_id)] = false;
        }else{
            refer_id[getRespectiveKey(set_id)] = true;
        }
        update_obj = Object.assign(update_obj, refer_id);
        
        console.log(update_obj);
        
        upd_url = "{% url 'reminder-update' 0 %}".replace('0', userid);
        
        $.ajax({
            type: 'POST',
            url: upd_url,
            data: update_obj,
            success: function(data){
                if($(set_id).hasClass("fa-toggle-off")){
                    $(set_id).addClass("fa-toggle-on");
                    $(set_id).removeClass("fa-toggle-off");
                }else{
                    $(set_id).addClass("fa-toggle-off");
                    $(set_id).removeClass("fa-toggle-on");  
                }
            },
            error: function(xhr){
                console.log("!!!!!!!! ERROR !!!!!!");
            }
        });
        refer_id = Object.assign({}, glb_data[0]);
    }
 
    function getRespectiveKey(setID) {
        switch (setID) {
            case '#motiv':
                return 'dailyMotivation';
                break;
 
            case '#rprt':
                return 'newCollectionArrival';
                break;
 
            case '#trck':
                return 'userInActivity';
                break;
            
            default:
                return None;
                break;
        }
    }
 
  </script>
 
 


