{% load static %}
{% include "temp_dir/header.html" %}
{% include "temp_dir/navbar-3.html" %}
{% block content %}
<br>
<br>
<br>
  <body>
    <div class="container myjourneyContainer">
        <h2 class="searchSectionHeading" style="color:#A4C756; font-family:poppinsBold; font-size:38px; margin-bottom: 50px">{{ collection}}</h2>
      <div class="row">

        {% for c in tracks.trackItems %}
            <div class="item col-sm-12 col-md-4  col-3" style="border:5px solid black;">
               <img class="card-img-top" src="{% static 'images/' %}{{c.trackCoverArt}}" alt=""/>
            <span>{{c.trackName}}</span>
            </div>
        {% endfor %}   </div>

  
</div>

<br><br><br>



</body>
{% endblock content %}

