{% extends "client_side/header.html" %}
{% block content %}
  <body>
    <div style="background-color: #3ebf8d" id="relevant">
        <h1 id="">Quickshift</h1>
    </div>
    <div style="background-color: #8ebf42" id="quickshift">
      <h1 id="">Quickshift</h1>
    </div>
    <div style="background-color: #4265bf" id="tranformation">
        <h1 id="">Transformation</h1>
    </div>
    <div style="background-color: #bd4d97" id="indeepth">
        <h1 id="">In deepth</h1>
    </div>
  </body>
  <script>
      $(document).ready(function(){
        var currentTrackId
        var trackID
        searchQuery = 'I am happy'
        urls = "{% url 'search-create' %}";
        $.ajax({
            type: "POST",
            url: urls,
            data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                // 'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
                "searchQuery" : searchQuery,
            },
            success: function(data){
                localStorage.setItem('tracList', JSON.stringify(data.track_id))
                $('#relevant h1').attr("id",data.most_relevant_search);
                $('#quickshift h1').attr("id",data.track_detail.Quickshift.trackID[0]);
                $('#tranformation h1').attr("id",data.track_detail.Transformation.trackID[0]);
                $('#indeepth h1').attr("id",data.track_detail.In_Depth.trackID[0]);
            },
            error: function(xhr){
                console.log('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);  
            }
        });
        urls1 = "{% url 'play' %}";
        $('#relevant').click(function(){
            currentTrackId = $('#relevant h1').attr("id");
            localStorage.setItem('currentTrack', currentTrackId);
            window.location.href=urls1;
        });

        $('#quickshift').click(function(){
            currentTrackId = $('#quickshift h1').attr("id");
            localStorage.setItem('currentTrack', currentTrackId);
            window.location.href=urls1;
        });

        $('#tranformation').click(function(){
            currentTrackId = $('#tranformation h1').attr("id");
            localStorage.setItem('currentTrack', currentTrackId);
            window.location.href=urls1;
        });

        $('#indeepth').click(function(){
            currentTrackId = $('#indeepth h1').attr("id");
            localStorage.setItem('currentTrack', currentTrackId);
            window.location.href=urls1;
        });
      });
  </script>

</html>
{% endblock content %}