{% extends "client_side/header.html" %} 
{% block content %}



<body>
  <div class="container-fluid" style="width: 80%; margin: auto">
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row insightsBox">
      <div class="col-sm-12">
        <span class="placeholder"
          ><i class="fa fa-pencil" aria-hidden="true"></i> New Post</span
        ><input type="text" id="greenTextBox" />
      </div>
    </div>
    <br />
  </div>

  <div
    class="container-fluid"
    id="insightsContainer"
    style="width: 80%; margin: auto"
  ></div>
  <script>
    $("#greenTextBox")
      .focus(function () {
        $(".placeholder").css("display", "none");
      })
      .blur(function () {
        if ($("#greenTextBox").val() == "") {
          $(".placeholder").css("display", "inline");
        }
      })
      .keypress(function (e) {
        if (e.keyCode == 13) {
            var t =
                '<div class="row insightsBox"><div class="col-sm-12">\
                <span class="timestampInsights">4 hrs ago</span></div>\
                <div class="insightsPost" style="background:' +
                random_bg_color() +
                '">' +
                document.getElementById("greenTextBox").value +
                "</div></div></div><br>";
            document.getElementById("insightsContainer").innerHTML += t;
            var insight = $("#greenTextBox").val();
            postInsight(insight);
        }
      });
    function random_bg_color() {
      var x = Math.floor(Math.random() * 256);
      var y = Math.floor(Math.random() * 256);
      var z = Math.floor(Math.random() * 256);
      var bgColor = "rgb(" + x + "," + y + "," + z + ")";
      return bgColor;
    }
    
    function postInsight(insight){
        userId = 1
        insight = insight;
        urls = "{% url 'insight-create' %}";
        $.ajax({
            type: "POST",
            url: urls,
            data: {
                'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
                "userID" : userId,
                "userInsight" : insight,
            },
            success: function(data){
                console.log('insight saved');
            },
            error: function(xhr){
                console.log('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);  
            }
        });
    }

    $(document).ready(function(){
        userid = 1;
        urls = "{% url 'user-insight' 0 %}".replace('0', userid);
        $.ajax({
            type: "GET",
            url: urls,
            success: function(data){
                console.log(data);
            },
            error: function(xhr){
                console.log('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);  
            }
        });
    });

  </script>
</body>

{% endblock content %}
