{% extends "client_side/header.html" %}
{% block content %}
  <body>
    <div style="background-color: #3ebf8d" id="relevant">
        <h1 id="">Play page</h1>
    </div>
  </body>
  <script>
    $(document).ready(function(){
      var tracklist = localStorage.getItem('tracList');
      var currentTrack = localStorage.getItem('currentTrack');
      urls = "{% url 'track' 0 %}".replace('0', currentTrack);
      $.ajax({
        type: "GET",
        url: urls,
        success: function(data){
          console.log(data)
        },
        error: function(xhr){
          console.log('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);  
        }
      });
    });
  </script>

</html>
{% endblock content %}