{% extends "client_side/header.html" %}
{% load static %}
{% block content %}
  <body><div id="selected-sub"></div>
  <div><select id="myselect"></select></div>
  <div><button type="button">Click Me!</button></div>
  <form action="{% url 'journey' %}" method="POST">
    <script
        src="https://checkout.razorpay.com/v1/checkout.js"
        data-key="rzp_test_vUtAK9oJ3dTD26" 
        data-amount="108000" 
        data-currency="INR"
        data-buttontext="Pay with Razorpay"
        data-name="Ahhaa One"
        data-description="A Wild Sheep Chase is the third novel by Japanese author Haruki Murakami"
        data-image="https://example.com/your_logo.jpg"
        data-prefill.name="Munira Ezzey"
        data-prefill.email="muniraezzey@gmail.com"
        data-theme.color="#F37254"
        subscription-id="sub_GdTLx5iaUysNCT"
        customer-id="cust_GdTHYgwlLjvNK4"
    ></script>
    <input type="hidden" custom="Hidden Element" name="hidden">
    </form>
  </body>
  <script src = "https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>
    $(document).ready(function(){
      subid = localStorage.getItem("subscriptionID");
      //fetching list of subscription for dropdown
      urls = "{% url 'plan-list' %}";
      $.ajax({
        type: "GET",
        url: urls,
        success: function(data){
          for(var i = 0; i<data.length; i++){
            if(data[i].planID == subid){
              var ele = '<h1>You selected '+data[i].planName+' subscription</h1>';
              $('#selected-sub').append(ele);  
            }
            var ele1 = '<option value='+data[i].planID+'>'+data[i].planName+'</option>';
            $('#myselect').append(ele1);
          }
        },
        error: function(xhr){
          console.log('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);  
        }
      });
      $('#myselect').click(function(){
        subid = $(this).val();
        localStorage.setItem("subscriptionID", subid);
        sub = $(this).find('option:selected').text();
        updateSelectedSub(subid,sub);
      });
      function updateSelectedSub(subid,sub){
        $('#selected-sub').html('<h1>You selected '+sub+' subscription</h1>');
      }

      $('button').click(function(){
        var url2 = "{% url 'create-new-sub' %}";
        var userID = $.cookie("uid");
        var total_count = 1;
        $.ajax({
          type: 'POST',
          url: url2,
          data: {csrfmiddlewaretoken: "{{ csrf_token }}", 'plan_id':subid,'userID':userID,'total_count':total_count},
          success: function(data){
            console.log(data);            
        },
          error: function(xhr){
            console.log('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText); 
          }

        });
      });
    });
  </script>

</html>
{% endblock content %}