{% extends "client_side/header.html" %}
{% block content %}
  <body>
    <div style="background-color: #3ebf8d" id="relevant"></div>
  </body>
  <script>
    $(document).ready(function(){
      urls = "{% url 'plan-list' %}";
      $.ajax({
        type: "GET",
        url: urls,
        success: function(data){
          for(var i = 0; i<data.length; i++){
            var ele = '<h1 id='+data[i].planID+'>'+data[i].planName+'</h1>';
            $('#relevant').append(ele);
          }
        },
        error: function(xhr){
          console.log('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);  
        }
      });
      urls1 = "{% url 'sub-detail' %}" 
      $("#relevant").on("click", "h1", function(){
        localStorage.setItem("subscriptionID", $(this).attr('id'));
        window.location.href=urls1;
      });
    });
  </script>

</html>
{% endblock content %}