a,a:visited,a:hover
{
    text-decoration:none;
    color:inherit;
}
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{ color: #fff;  }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
}

        @font-face {
  font-family: poppinsRegular;
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: poppinsBold;
  src: url("../fonts/Poppins-Bold.ttf");
}



      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
        .featurette-divider
        {
            border-top:2px solid orangered;
            color: orangered;
        }
        .featurette-heading
        {
            margin-top: 3rem;
        }
        .btn-primary
        {
            background-color: orangered;
            padding: 10px;
            border:none;
        }
        .row
        {
            margin-left: 0;
            margin-right: 0;
        
        }
        
.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
    height: 100%;
  transition: .5s ease;
  opacity:1;
  color: orangered;
  font-size: 20px;
  text-align: center;
}

    

        .logo-simple-menu
        {
            max-height:70px;
        }
        body
        {
            background:#0A0A0A;
            background-color:#0A0A0A;
            font-family: poppinsRegular
        }
        .navbar-expand-md .navbar-nav .nav-link
        {
            padding-left:2rem;
            padding-right:2rem;
        }
        .menu-text
        {
            font-size:18px;
        }
        .bgcolor-primary
        {
            background:#0A0A0A;
            background-color:#0A0A0A;
        }
        .second-color
        {
            background-color:#7E8CE0;
            color:#fff;
        }
        .wrapper {
            background:#fff;
    border:1px solid #fff;
    display:inline-block;
    width:100%;
}

.searchform input[type=text],.subscribeform  input[type=text]{
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 60%;
  min-width:300px;
  margin-left: 20%;
  background: #f1f1f1;
  border-radius:30px;
  border: 1px solid #99CA3C;
}

.searchform
{
    padding-top:200px;
    padding-bottom:50px;
    
}
/* Style the submit button */
.searchform button,.subscribeform button {
    
  float: left;
  max-width: 60px;
  min-width: 60px;
  padding: 10px;
  background: #99CA3C;
  color: white;
  font-size: 17px;
  border: 1px solid #99CA3C;
  border-left: none; /* Prevent double borders */
  border-radius:0 25px 25px 25px;
  cursor: pointer;
  margin-left:-60px;
}

.subscribeform 
{
    padding-bottom:100px;
}
.subscribeform  input[type=text]{
  width: 50%;
  margin-left: 25%;
  border:1px solid #7E8CE0;
}
.subscribeform button
{
    
     float: left;
  max-width: 120px;
  min-width: 120px;
  background: #7E8CE0;
  border: 1px solid #7E8CE0;
  margin-left:-120px;
}

.searchprompt
{
    padding-top:10px;
    margin-left: 25%;
  font-size: 20px;
  min-width:300px;
  padding-bottom:25px;
  color:#fff;
}
.socialfooter{
    font-size:20px;
    padding:20px;
}


.roundButton
{
    height:50px;
    border-radius:25px;
    color:#fff;
}
.keywords
{
    color:#7E8CE0;
}
.navbar2
{
    padding-top:0px;
}
.navBarList2
{
    margin-top:20px;
    margin-bottom:20px;
}
.navbar2 input[type=text]
{
    margin-left:0px;
}

/*@media (min-width: 768px)
{
    .menu-text {
    font-size: 15px;
}
.navbar-expand-md .navbar-nav .nav-link
{
        padding-left: 1rem;
    padding-right: 1rem;
}
.roundButton
{
    height: 40px;
    border-radius: 20px;
}
}*/
.blogrow
{
    padding-top:100px;
    padding-bottom:100px;
}
.card
{
    border:none;
    border-radius:0px;
}

.third-color,.third-color:hover
{
    background:#FFBF00;
}
.sunscriptionplans
{
    list-style:none;
}
.sunscriptionplans li
{
    padding:15px;
}
/*.subDiv1 {
    background:#FFBF00;
    background-image: url('bg-sub1.png');
    background-repeat: no-repeat;
    /*background-size: 50% 100%;*/
    background-position: 100% 0;
     background-size:50%;
     height:350px;
     
}


.subDiv2 {
    background:#E62E61;
    background-image: url('../images/bg-sub2.png');
    background-repeat: no-repeat;
   background-size: 50% 100%;
    background-position: 0 100%;
     height:400px;
}*/




.subDiv2 {
    background:#E62E61;
    background-image: url('../images/bg-sub2.png');
    background-repeat: no-repeat;
     background-size:100%;
     height:350px;
}
.subDiv1 {
    background:#FFBF00;
    background-image: url('../images/bg-sub1.png');
    background-repeat: no-repeat;
       background-size:100%;
     height:400px;
     
}
.first-color
{
    background-color:#99CA3C;
}.formInputs
    {
    outline: none;
    border: none;
    width: 100%;
    height: 50px;
    background: transparent;
    color: #fff;
    padding: 0 2px;
    outline: 0;
  
  border:2px solid #fff;
  border-width: 0 0 2px;
    }
    .formInputs:focus {
  border-color: green
}
    .registrationBody
{
      background: url('../images/register.png') repeat;
    padding:0;
    height:auto;
    background-size: 100%;
    top:100px;
    color:#fff;
}
.registrationBtn
{
    width:200px;
}
.registrationBtn:hover,.registrationBtn:active
{
    background-color:#7E8CE0;
    border-color:#7E8CE0;
}
.nocolor
{
    background-color:transparent;
    border:3px solid #fff;
}
.fa-facebook,.fa-google {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-google {
  background: #dd4b39;
  color: white;
}
    .fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.fa-facebook
{
    background-color:transparent;
}
.navbar, .navbar-inverse {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    min-height: 80px;
}

.nav li {
    display: inline;
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    font-family: Lato;
    font-size: 1.7em;
    font-weight: 300;
    padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
    background-color: #444444;
    transition: 0.7s all linear;
    height: 100%;
}


.highText
{
    font-size:35px;
    font-weight:bold;
}
.pink-text-color
{
    color:#FFA48E;
    font-size:20px;
}
.collectionHeading
{
    padding-top:30px;
    padding-bottom:30px;
    font-size:30px;
    font-weight:bold;
    color:#fff;
    float:left;
    width:80%;
    font-family: poppinsBold;
}
.collectionHeadingView
{
    text-align:right;
    float:right;
    display:block;
    width:20%;
    padding-top:40px;
    padding-bottom:30px;
    font-size:20px;
}
.myjourneyCovers img
{
    border-radius:5px;
}
.myjourneyContainer
{
    padding-top:100px;
}
.collectionsImage2
{
    
    float:left;
    max-width:50%;
    max-height:50%;
    display:block;
    margin-left:0;
    border-top:5px solid transparent;
    border-right:2.5px solid transparent;
    border-radius:5px;
}
.collectionsImage3
{
    
    float:right;
    max-width:50%;
    max-height:50%;
    display:block;
    margin-right:0;
    border-top:5px solid transparent;
    border-left:2.5px solid transparent;
    border-radius:5px;
}
.insightsBox
 {
     background:#343434;
     border-radius:25px;
 }
 #greenTextBox
 {
     width:96%;
     height:50px;
     margin:20px;
     margin-left: 2%;
      margin-right: 2%;
     border: 2px solid #99CA3C;
     background-color:transparent;
     border-radius:25px;
     outline:none;
     text-indent: 25px;
     color:#fff;
 }
 

.placeholder {
  position: absolute;
  left: 65px;
  top: 35px;
  padding: 0 20px;
  color:#99CA3C;
}

 #greenTextBox:focus ~ .placeholder,
 #greenTextBox:valid ~ .placeholder {
  display: none;
}
.insightsPost
{
    color:#fff;
    width:96%;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    border-radius:25px;
    min-height:200px;
    text-indent:50px;
}
.timestampInsights
{
    padding:10px;
    float:right;
    font-size:10px;
    color:gray;
    margin-left:2%;
}
input, input:active
    {
      outline: none;
    }
        .searchprompt, .searchprompt ul , .searchprompt ul li
    {
      text-align: center;
      width:100%;
      margin:auto;
    }
    .categoryCovers img
{
    border-radius:5px;
}

    .categoryText
    {
      position: absolute;
      top:35px;
      z-index: 1;
     color:#fff;
     font-weight:bold;
     margin: 10px;
     font-size:16px;
     margin-left: 20px;
    }
    .category
{
    border:5px solid #0A0A0A;
  vertical-align:middle;
    padding:5px;
    height:auto;
  width:100%;
    font-size:16px;
    color:#fff;
    font-weight:bold;
  opacity: 0.7;
}
.categoryContainer
{
  max-width:96%;
  margin: 2%;
}
.homeSection
{
  width:100%;
  margin:50px 0 50px 0;
  border-top:5px solid #262626;
}
.homePage
{
  color:#fff;
}
.homeSectionImg
{
  width: auto;
  max-height: 300px;
}
#homeSectionImg1
{
  position: absolute;
  top:17px;
  left:156px;
  width:290px;
  height:180px;
}
h3
{
  font-family: poppinsBold;
}
.grid-container {
  display: grid;
  margin:100px;
  grid-template-columns: auto auto auto auto auto;
}

.grid-container > div {
  text-align: left;
}
.footerText2
{
  text-align: left;
  padding-left:85px;
}
.footerText1
{
  padding-left: 20px;
  
}

.grid-container .item5
{
  text-align: right;
}
 
.item5 {
  grid-area: 1 / 5 / span 2 / span 1;
}

.item6 {
  grid-area: 2 / 2 / span 1 / span 3;
}
.blackText
{
  font-family: poppinsBold;
  color:#0A0A0A;
  background: #99CA3C;
  width:200px;
}
.homeSectionImgSmall
{
  display: none;
}
.homeSectionImg
{
  display:block;
}
.partnerContainer
{
  max-width:96%;
  margin:100px 2% 100px 2%;

  
}
.page-header
{
    text-align:center;
    width:100%;
    font-weight:bold;
    font-size:30px;
    color:#fff;
}
.partnerContainer .category
{
  border:none;
  max-width:180px;
  height:auto;
  margin:30px;
 
  vertical-align: middle;
}
.searchpage-controls
{
  float: left;
  margin: 5px 0 5px 5px;
  vertical-align: middle;
  color:#fff;
  margin-bottom: 100px;
}
.searchpage-controls2,.searchpage-controls3
{
margin: 15px;
font-size:20px;
}
.myjourneyCovers
{
  background: #262626;
  border-radius:10px;
  color:#fff;
}
.myjourneyCovers h4,.myjourneyCovers span
{
    padding-left: 10px;
}
@media only screen and (max-width: 1050px) {

  .grid-container > div,.footerText1,.footerText2,.grid-container .item5
  {
  text-align: center;
  padding: 0;
  margin-left:0;
  margin: 20px;
}
  .grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
}
.item1 {
  grid-area: 1 / 1 / span 1 / span 3;
}

.item5 {
  grid-area: 3 / 1 / span 1 / span 3;
}

.item6 {
  grid-area: 4 / 1 / span 1 / span 3;
}
.h3, h3 {
    font-size: 1rem;
}
p{
   font-size: 0.8rem;
}
.blackText
{
  width:150px;
  font-size:0.8rem;
  height:35px;
}

}


.bulb-search {
    max-height: 24px;
  transform: rotate(-45deg);
}
.searchsectionrow
{
  background: #2c2c2c;
  border-radius:15px;
  padding: 30px;
}
.searchcover1,.searchsectionrow img
{
  padding: 0;
      border-radius:5px;
}

.searchcover1 img
{
  height: 100%;
  width: 100%;
}
.big-tile
{
  width: 100%;
    height: 70%;
    float: left;
}

.small-tile,.small-tile-last
{
  width:46%;
  height: 28%;
  margin-top:4%;
}
.small-tile-last
{
  width:100px;
  height:100px;
  float: left;
}
.small-tile:first-child,.small-tile-last
{
    float: left;
  margin-left: 1%;
}
.small-tile:last-child
{    float: right;

  margin-right: 1%;
}
@media only screen and (max-width: 750px){
.homeSectionImgSmall
{
  display: block;
  width: auto;
  max-height: 300px;
  justify-content: center;
  text-align: center;
  margin:auto;
}
.homeSectionText
{
  text-align: center;
  width:100%;
}
.homeSectionImg
{
  display:none;
}
}


.partnerContainer .category
{
    max-width:120px;
}
.invert-background
{
  background: #fff;
  color:#0a0a0a;
  margin-top: 100px;
}
.help-section-container
{
  margin: 0 0 100px 15%;
  width:70%;
}
.help-section-block
{
  margin: 10px;
  text-align: center;
  vertical-align: middle;
  display:inline-list-item;
  height: 70px;
  border:1px solid #99CA3C;
  border-radius:10px;
}
.question
{
  border-bottom:1px solid;
  padding: 20px 0 20px 0;
}
.breadcrumb,.breadcrumb a
{
  background: #fff;
  color:#99CA3C;
}
.questionsidebar
{
    padding: 20px 20px 20px 0;
}
.form-group
{
    padding: 20px 20px 20px 20px;
}
.form-control.is-invalid, .was-validated .form-control:invalid
{
  border-color:#99CA3C;
}
.greyBox
{
  background:#262626;
  padding:50px;
  border-radius:15px;
  font-size:14px;
  color:#fff;
}
.greyBox-logo
{
  max-height: 120px;
  margin: 10px
}
.greyBox-heading
{
  font-size:30px;
  text-align:center;
  font-family: poppinsBold;color:#7E8CE0;
}
.movingGif
{
  background:url("https://i.giphy.com/media/3oz8xur099boo4N9aU/giphy.webp") no-repeat;
  webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size:cover;
}
.greyBox-link
{
  font-size:18px;
  padding:10px;
  color:#fff;
  text-decoration:underline;
}
.greyBox-text
{
    text-align:center;

}
.greyBox-input
{
  border-radius:15px;
}
.greyBox-button
{
  background: #FFBF00;
  border-radius:15px;
  height:40px;
  padding: 0px 50px 0 50px;
  font-size:14px;
}
.long-div,.short-div
{
  margin: auto;
  float: left;
}
.container-fluid, body
{
  margin:0;
  padding: 0;
}
        
        #playlistdiv .item {
            text-align: center;
            padding: 50px;
                margin-bottom:80px;
            opacity: .2;
            -webkit-transform: scale3d(0.8, 0.8, 1);
            transform: scale3d(0.8, 0.8, 1);
            transition: all 0.3s ease-in-out;
        }
        #playlistdiv .owl-item.active.center .item {
            opacity: 1;
            -webkit-transform: scale3d(1.0, 1.0, 1);
            transform: scale3d(1.0, 1.0, 1);
        }
        .owl-carousel .owl-item img {
            -webkit-transform-style: preserve-3d;
                    transform-style: preserve-3d;
            max-width: 100%;
            margin: 0 auto 17px;
        }
        #playlistdiv.owl-carousel .owl-dots .owl-dot.active span,
#playlistdiv.owl-carousel .owl-dots .owl-dot:hover span {
            background: #3190E7;
            -webkit-transform: translate3d(0px, -50%, 0px) scale(0.7);
                    transform: translate3d(0px, -50%, 0px) scale(0.7);
        }
#playlistdiv.owl-carousel .owl-dots{
    display: inline-block;
    width: 100%;
    text-align: center;
}

#playlistdiv.owl-carousel .owl-dots .owl-dot{
    display: inline-block;
}
        #playlistdiv.owl-carousel .owl-dots .owl-dot span {
            background: #3190E7;
            display: inline-block;
            height: 20px;
            margin: 0 2px 5px;
            -webkit-transform: translate3d(0px, -50%, 0px) scale(0.3);
                    transform: translate3d(0px, -50%, 0px) scale(0.3);
            -webkit-transform-origin: 50% 50% 0;
                    transform-origin: 50% 50% 0;
            transition: all 250ms ease-out 0s;
            width: 20px;
        }
    .navBarList2
    {
      width:100%;
    }
    
    .navBarList2 .nav-item
    {
      width: 200px;
      float: right;
    }
    
    .navBarList2 .nav-item:first-child
    {
      width: calc(100% - 100px);
     padding-right: 25px;
      padding-left: 25px;
    }
    .navbar2, #menubarsearchbox, #menubarsearchboxbtn
    {
      width:100%;
      
    }
    .myAhhaaMenu
{
    color:#fff;
    font-size: 24px;
    text-align:center;
    vertical-align:middle;
    height:100px;
    display:table-cell;
    cursor:pointer;
  line-height: 100px;
}
.myAhhaaMenu:nth-child(1)
{
    background-color:#7E8CE0;
    line-height:50px;
    border-right:20px solid #0A0A0A;
}
.myAhhaaMenu:nth-child(2)
{
    background-color:#FFBF00;
    border-right:20px solid #0A0A0A;
    border-left:20px solid #0A0A0A;
}
.myAhhaaMenu:nth-child(3)
{
    background-color:#FFA48E;
    border-left:20px solid #0A0A0A;
}
.webNavBar
{
  display:flex;
}
.mobileNavBar,.mobileNavBarActive
{
  display: none;
  background:#262626;
  padding: 15px;
  border-radius:15px;
}

.activeMyAhhaa
    {
      margin-top: -25px;
     padding-top: 50px;
     padding-bottom: 100px;
     line-height: 50px;
     vertical-align: middle;
     font-family: poppinsBold;
    }
    .myAhhaaMobileMenu
    {
      width:33.33%;
    }
    .myAhhaaMobileMenu i
    {
      font-size: 38px;
      text-align: center;
      width:100%;
    }
     .myAhhaaMobileMenu:first-child
     {
      color:#7E8CE0;
     }
     .myAhhaaMobileMenu:nth-child(2n)
     {
      color:#FFBF00;
     }
     .myAhhaaMobileMenu:nth-child(3n)
     {
      color:#FFA48E;
     }
    
     
     .mobileNavBarActive
     {
      margin: 20px;
      font-size: 24px;
      text-align:center;
      color:#000;
      background-color: #FFA48E;
      font-weight:bold;
      font-family: poppinsBold;
     }
    
  
    @media (max-width: 990px) {
      
      
    .menu-text
    {
      padding-top:15px;
      float: right;
      font-size: 18px;
    }
    
    .webNavBar
    {
      display: none;
    }
    .mobileNavBar,.mobileNavBarActive
    {
      display: flex;
    }
    
}
 @media only screen and (max-width: 830px) {
    .myAhhaa{ display: none; }
}
.heading-1
  {
   font-size:24px;
  }
  .heading-2
  {
   font-size:20px;
  }
  .heading-3
  {
   font-size:16px;
  }
   .heading-4
  {
   font-size:12px;
  }


